.board-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    backdrop-filter: blur(10px);
    background-color: var(--board-info);
    border-radius: 6px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    color: white;
    gap: 20px;
}

.board-main-info {
    width: 50%;
    max-width: 1000px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 25px;
    color: var(--color);
    background-color: var(--board-info);
    border: 1px solid var(--color);
    border-radius: 7px;
    box-shadow: 1px 1px 5px var(--color);
}

.members {
    display: flex;
    align-items: left;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    margin: 0px auto;
}

.board-info h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.board-name-div {
    display: flex;
    align-items: left;
    gap: 15px;
}

.board-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.board-info ul li {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 10px;
}


.trash-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    padding: 8px 15px;
    background: rgba(255, 0, 0, 0.2);
    border-radius: 6px;
    font-weight: bold;
    border: 2px dashed #ff4d4d;
    height: 70px;
}


.color-circle-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.color-circle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #000000;
    cursor: pointer;
}

.current-user-color-circle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #000000;
    cursor: pointer;
}

#color-picker {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    opacity: 0; /* Скрываем стандартный input */
    position: absolute;
}

.take-task{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #000000;
    cursor: pointer;
}