/* ===== СТИЛИ ДЛЯ ХЕДЕРА ===== */
.header-div {
    display: flex;
    position: relative;
    justify-content: space-between; /* Логотип слева, кнопка справа */
    align-items: center;
    padding: 10px 20px;
    background: var(--second-color);
    z-index: 1000;
}

.header-div .logo {
    display: flex;
    align-items: center;
}

.header-div .logo img {
    width: 150px; /* Ширина логотипа */
}

.header-div .navigation-div {
    display: flex;
    gap: 15px;
}

.header-div .header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-div .header a {
    color: var(--color);
    text-decoration: none;
    font-weight: bold;
}

.header-div .header a:hover {
    text-decoration: underline;
}

/* ===== ВЫПАДАЮЩЕЕ МЕНЮ (ПАНЕЛЬ АДМИНИСТРАТОРА) ===== */

.admin-dropdown {
    position: relative;
}

/* Скрытое меню по умолчанию */
.admin-dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--second-color);
    border-radius: 5px;
    list-style: none;
    padding: 5px 0;
    min-width: 180px;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 2000;
}

/* Стили для элементов меню */
.admin-dropdown .dropdown-menu li {
    padding: 10px;
    text-align: center;
}

.admin-dropdown .dropdown-menu li a {
    display: block;
    color: var(--color);
    text-decoration: none;
    font-size: 16px;
    transition: background 0.3s;
}

/* Эффект при наведении */
.admin-dropdown .dropdown-menu li:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Показываем меню при наведении */
.admin-dropdown:hover .dropdown-menu {
    display: block;
}






/* Кнопка "Войти" */
.sign-in-button {
    background-color: var(--main-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.sign-in-button a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.sign-in-button:hover {
    background-color: var(--second-color);
}

/* Информация о пользователе */
.user-info {
    height: 40px;
    width: 295px;
    padding: 5px;
    border: solid 1px black;
    border-radius: 6px;
    background-color: #8f8f8f79;
    align-items: center;
    display: flex;
    justify-content: space-between; /* Расположение информации и кнопки выхода */
}

.user-avatar{
    width: 45px;
    height: 45px;
    padding: 3px;
}

.user-avatar img{
    width: 44px;
    height: 44px;
}

.user-info p {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.user-info form {
    margin: 0;
}

.change-colorset-btn{
    font-size: 20px;
    background: transparent;
    border: none;

}
/* Стиль для кнопки выхода */
.logout-btn {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.logout-btn:hover {
    background-color: darkred;
}