{% extends 'base.html' %}
{% block title %}
    Добавление новой доски
{% endblock %}


{% block styles %}
 <link rel="stylesheet" href="/static/css/add_board.css">
{% endblock %}



{% block body %}


<div class="add_board">
    <h1>Создание новой доски</h1>
    <form class="add_board_form" method="post" action="{{ url_for('add_board') }}">
        <div>
            <label for="name">Нзавание доски:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="owner-field">
            <label>Владелец (преподаватель):</label>
            {% if current_user.is_authenticated %}
                <input type="hidden" name="owner" value="{{ current_user.id }}">
            {% endif %}
            <div class="owner-value">{{ current_user.name }}</div>
        </div>
        <div class="students-checkboxes">
            <label>Студенты:</label>
            <div class="checkbox-list">
                {% for student in students %}
                <label class="checkbox-item">
                    <input type="checkbox" name="students" value="{{ student.id }}">
                    <span>{{ student.surname}} {{ student.name }}</span>
                </label>
                {% endfor %}
            </div>
        </div>
        <div>
            <button type="submit">Создать</button>
        </div>
    </form>
</div>
{% endblock %}