{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/boards.css">
    <link rel="stylesheet" href="/static/css/board_info.css">
{% endblock %}

{% block title %} Доска: {{ board.name }} {% endblock %}

{% block body %} 
    <div class="board-info">
        <div class="board-main-info">
            <div class="board-name-div">
                <div style="display: block;">
                    <h1 style="margin-bottom: 10px;">{{ board.name }}</h1>
                </div>
                <div>
                    <ul>
                        <li>👨‍🏫 Преподаватель: {{ teacher.name }}</li>
                        <li>✉️ Для связи: {{ teacher.email }}</li>
                    </ul>
                </div>
            </div>
            <div  id="members-div" class="members">
                <div class="content">
                    <ul>
                        {% for i in students %}
                            {% if i.id != current_user.id %}
                            <li>
                                <div class="color-circle" style="background-color: {{ i.color if i.color else '#ffffff' }};" title="Цвет пользователя"></div>
                                {{ i.name }}
                            </li>
                            {% endif %}
                        {% endfor %}
                        {% if current_user.role == 'student' %}
                            <li id="current_user_li">
                                <div class="color-circle-container">
                                    <input type="color" id="color-picker" style="display: none;" value="{{ current_user_color if current_user_color else '#ffffff' }}">
                                    <div class="current-user-color-circle" data-user-id="{{ current_user.id }}" style=" background-color: {{ current_user_color if current_user_color else '#ffffff' }};"></div>
                                </div>
                                {{ current_user.name }} (Вы)
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="trash-zone">
            <p>Перетащите сюда для удаления</p>
        </div>
        
    </div>
    
           
    
    
    
    
    <div class="columns-container">
        

            {% for column in columns %}
            <div class="column" data-column-id="{{ column.id }}">

                <div class="column-info">
                    <p>{{ column.name }}</p>
                </div>
                <div class="blocks-container">
                        {% for block in column.blocks %}
                        <div class="block" data-block-id="{{ block.id }}" style="border-bottom: 1rem solid {{ block.color }};">
                            {{ block.text }}
                            {% if current_user.role == 'student' and block.color == none %}
                                <div class="take-task" title="Взять задачу себе"></div>
                            {% endif %}
                        </div>
                        {% endfor %}
                </div>
                <div class="column-tools">
                    <form class="add-block-form">
                        <textarea type="text" class="new-block-input" placeholder="Введите текст блока" style="display: none;"></textarea>
                        <div style="display: flex; flex-direction: row;">
                            <button class="add-block-btn" type="submit">Добавить ячейку</button>
                            <button class="go-back" type="button" style="display: none;">
                                <img src="{{ url_for('static', filename='img/back.png') }}" alt="Назад">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
           
            {% endfor %}
            
            <form class="add-column-form">
                <input style="display: none;"  type="text" id="new-column-name" placeholder="Название колонки">
                <div style="display: flex; flex-direction: row; gap: 2px;">
                    <button type="submit" id="add-column-btn">Добавить колонку</button>
                    <button class="go-back-column" type="button" style="display: none;">
                        <img src="{{ url_for('static', filename='img/back.png') }}" alt="Назад">
                    </button>
                </div>
            </form>
        
    </div>
    

   
{% endblock %}

{% block js %}
<script type="text/javascript">
    const boardId =  "{{ board.id|tojson|safe }}";
</script>

<script src="{{ url_for('static', filename='js/board.js') }}"></script>
<script src="{{ url_for('static', filename='js/drag.js') }}"></script>
<script src="{{ url_for('static', filename='js/color-pick.js') }}"></script>
<script src="{{ url_for('static', filename='js/take-task.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/drag_test.js')}}"></script> -->

{% endblock %}