{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/students.css">
{% endblock %}



{% block body %}
    <div class="students-container">
        {% for entry in students_with_boards %}
        <div class="students-item">
            <h2>{{ entry.student.name }}</h2>
            <p>Группа: {{ entry.student.group }}</p>
            <p>Email: {{ entry.student.email }}</p>
            
            <div class="student-boards">
                <h3>Доступные доски:</h3>
                {% if entry.boards %}
                    <ul>
                        {% for board in entry.boards %}
                        <a href="{{ url_for('board', board_id = board.id ) }}">
                            <li>{{ board.name }}</li>
                        </a>
                        
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Нет доступных досок</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}